# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [74]:
city_data = pd.read_csv("city_dataframe.csv") 

city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Abu Samrah,35.30,37.18,297.54,47,0,5.55,SY,1597686414
1,1,Kapaa,22.08,-159.32,299.15,78,40,6.70,US,1597686414
2,2,Mar del Plata,-38.00,-57.56,287.15,30,0,9.80,AR,1597686415
3,3,Dorokhovo,55.55,36.37,292.15,59,5,3.00,RU,1597686415
4,4,Coquimbo,-29.95,-71.34,284.15,81,90,2.10,CL,1597686418

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [75]:
# We are assigning a variable inside a function
# gmaps.configure(api_key=g_key)

In [76]:
humidity_location = city_data[['Lat', 'Lng']].astype(float)
hum_intensity = city_data['Humidity'].astype(float)

In [77]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(humidity_location, weights=hum_intensity, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [88]:
# A max temp < 80 degrees but > 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions.


ideal_temp = city_data.loc[(((city_data['Max Temp']- 273.15) * 9/5 + 32) < 80) & (((city_data['Max Temp']- 273.15) * 9/5 + 32) > 70)]
ideal_wind = city_data.loc[city_data['Wind Speed'] > 10]
ideal_cloud = city_data.loc[city_data['Cloudiness'] == 0]



ideal_temp.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Abu Samrah,35.30,37.18,297.54,47,0,5.55,SY,1597686414
1,1,Kapaa,22.08,-159.32,299.15,78,40,6.70,US,1597686414
7,7,Rikitea,-23.12,-134.97,294.85,78,7,5.23,PF,1597686419
13,13,Tibati,6.47,12.63,294.55,88,94,0.79,CM,1597686421
15,15,Isangel,-19.55,169.27,297.32,84,91,6.44,VU,1597686422

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure